/* ::::: http://cdn.realblog.pro/pt-malysheva-ecoslim/css/template.css ::::: */

/* ::::: http://cdn.realblog.pro/pt-malysheva-ecoslim/css/reset.css ::::: */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; font-size: 100%; }
a { text-decoration: none; color: rgb(25, 116, 187); margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
a:hover { text-decoration: underline; }
input, select, button, textarea { margin: 0px; font-size: 100%; border: 0px none; outline: medium none; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
ul { list-style: outside none none; }
html { font-size: 10px; }
body { font-size: 16px; font-family: "PT Sans",sans-serif; background: rgb(197, 226, 255) url('malish.jpg') no-repeat scroll center 0px; }
.limit { max-width: 1040px; margin: 350px auto 0px; display: block; }
main .content { display: inline-block; width: 100%; vertical-align: top; background-color: rgb(255, 255, 255); }
main { background-color: rgb(255, 255, 255); z-index: 100; }
.wwrapper_border { border: 10px solid rgba(33, 89, 134, 0.61); z-index: 10; margin-top: -10px; }
.text { padding: 10px 70px; }
main #facebook .writeComment::before, main #facebook .writeComment::after { content: ""; display: table; clear: both; width: 100%; }
main #facebook .commentsList::before, main #facebook .commentsList::after { content: ""; display: table; clear: both; width: 100%; }
.text p { margin: 10px auto; }
header { background-color: rgb(25, 116, 187); }
header#page-title { position: relative; color: white; z-index: 15; padding-bottom: 10px; }
header#page-title .promo { margin-left: auto; margin-right: auto; height: auto; min-height: 60px; }
header#page-title .promo > div { position: relative; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
header#page-title .promo .title { max-width: 920px; padding-left: 5px; }
header#page-title .promo .title a, header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title { display: inline-block; line-height: 40px; font-size: 30px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; float: left; color: inherit; text-decoration: none; }
header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title { margin: 10px 5px 10px 0px; }
header#page-title .promo .age_restriction { position: absolute; right: 0px; top: 0px; margin: 20px 0px 0px; width: 60px; font-weight: bold; }
header#page-title .promo .age_restriction { position: absolute; right: 0px; top: 0px; margin: 20px 0px 0px; width: 60px; font-weight: bold; }
.clearfix::after { clear: both; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.content-width { margin-left: auto; margin-right: auto; }
header#page-title .menu ul { display: inline-block; vertical-align: top; margin: 0px; padding: 0px; list-style: outside none none; }
header#page-title .menu ul .burg { display: none; }
header#page-title .menu ul .burg img { max-width: 30px; }
header#page-title .menu ul li { display: inline-block; margin: 0px 11px; }
header#page-title .menu ul li { transition: opacity 0.1s ease-in-out 0s; display: inline-block; margin-right: 23px; }
header#page-title .menu ul li a { display: block; line-height: 21px; box-sizing: border-box; color: inherit; text-decoration: none; font-weight: bold; font-size: 13px; text-transform: uppercase; letter-spacing: 0.99px; padding: 3px; }
header#page-title .promo .age_restriction .pill { display: block; margin: 0px auto; padding: 1px 5px; width: 40px; border-radius: 2px; color: white; background-color: rgba(255, 255, 255, 0.2); text-align: center; }
.comment { padding-bottom: 10px; font-size: 22px; font-weight: 600; color: rgb(14, 97, 162); }
.se_a { text-decoration: none; }
.bs_se { display: block; margin: 20px auto; max-width: 400px !important; border-radius: 30px; background-color: rgb(25, 116, 187); color: rgb(255, 255, 255); text-align: center; padding: 5px 40px; text-transform: uppercase; font-weight: 600; font-size: 24px; cursor: pointer; box-shadow: 0px 10px 5px 0px rgb(21, 80, 133); }
.bs_se:hover { transform: scale(1.1); }
.comm { padding: 10px; border-top: 1px solid rgb(217, 227, 235); }
.top_com img { max-width: 50px; display: inline-block; vertical-align: middle; }
.text_va { display: inline-block; vertical-align: middle; max-width: 90%; padding-left: 10px; }
.top_com h3 { color: rgb(121, 138, 149); }
.top_com span { color: rgb(121, 138, 149); }
.text h1 { text-align: center; font-size: 28px; margin-bottom: 10px; color: rgb(25, 116, 187); }
.ctr_ima { display: block; margin: 10px auto; width: 100%; }
.comment_image img { max-width: 475px; }
label::before { content: ""; display: inline-block; vertical-align: middle; width: 40px; height: 40px; margin-right: 10px; border: 1px solid rgb(112, 126, 137); float: left; }
.footer_Se { text-align: center; background-color: rgb(255, 255, 255); margin-top: 20px; padding: 10px 0px; }
.p_italic { font-style: italic; text-align: right; }
.image_center { margin: 0px auto; width: 100%; }
.comment_image { text-align: center; color: rgb(25, 116, 187); font-style: italic; }
.imgsoda1 { display: inline-block; width: 49%; }
.imgsoda2 { display: inline-block; width: 49%; }
.imgbefore { width: 20%; display: inline-block; }
.imgbefore1 { width: 72%; }
.sum { width: 20%; display: inline-block; vertical-align: text-bottom; font-size: 200px; color: rgb(22, 158, 209); }
.prod { display: inline-block; }
.prod1 { width: 60%; }
.rav { width: 20%; display: inline-block; font-size: 200px; vertical-align: text-bottom; color: rgb(22, 158, 209); }
.imgafter { width: 20%; display: inline-block; }
.imgafter1 { width: 68%; }
.color { color: white; text-decoration: none !important; }
.textalign { text-align: center; }
.shake { display: inline-block; animation-name: shake; animation-duration: 0.8s; transform-origin: 50% 50% 0px; animation-iteration-count: infinite; animation-timing-function: linear; }
@media screen and (max-width: 800px) {
	body { background: rgb(38, 7, 1) none repeat scroll 0% 0%; }
	.limit { margin-top: 0px; }
}
@media screen and (max-width: 800px) {
	main .content { width: 100%; box-sizing: border-box; }
	header a { text-decoration: none; }
	.sum { width: 20%; display: inline-block; vertical-align: text-bottom; font-size: 174px; color: rgb(22, 158, 209); }
	.prod { width: 20%; }
	.rav { width: 17%; display: inline-block; font-size: 177px; vertical-align: text-bottom; color: rgb(22, 158, 209); }
}
@media screen and (max-width: 663px) {
	.ctr_ima { max-width: 100%; }
}
@media screen and (max-width: 555px) {
	.ctr_ima { max-width: 100%; }
	header#page-title .promo .age_restriction .pill { display: none; }
}
@media screen and (max-width: 500px) {
	.text { padding-left: 10px; padding-right: 10px; }
}
@media screen and (max-width: 480px) {
	header#page-title .menu ul li { margin: 0px; }
	header#page-title .promo .title { padding-left: 0px; }
	header#page-title .promo .title a, header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title { width: 100%; text-align: center; padding-left: 0px; margin: 10px 0px; }
	header#page-title .menu ul li:not(.burg) { display: none; }
	header#page-title .menu ul { text-align: center; width: 100%; }
	header#page-title .menu ul .burg { display: block; text-align: center; }
	.sum { width: 11%; display: inline-block; vertical-align: text-bottom; font-size: 100px; color: rgb(22, 158, 209); }
	.prod { width: 20%; }
	.rav { width: 17%; display: inline-block; font-size: 100px; vertical-align: text-bottom; color: rgb(22, 158, 209); }
}
@media screen and (max-width: 410px) {
	.sum { font-size: 78px; }
	.rav { font-size: 78px; }
}
/* ::::: http://fonts.ksn.pw/css?family=PT+Sans:400,400i,700&subset=cyrillic,cyrillic-ext,latin-ext ::::: */

.ctr_ima1 {
    display: block;
    margin: 10px auto;
    
}

.dialog-border {
    border: 4px solid rgb(22, 158, 209);
    background: rgb(229, 242, 255) none repeat scroll 0% 0%;
    padding: 10px 15px 15px;
}